<a href="https://colab.research.google.com/github/rjrahul24/statistics_with_python/blob/main/Univariate%20Data%20Analysis/case_study_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Univariate data analyses - NHANES case study**

Here we will demonstrate how to use Python and Pandas to perform some basic analyses with univariate data, using the 2015-2016 wave of the NHANES study to illustrate the techniques.

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# We now load the NHANES dataset from local storage
data = pd.read_csv("./sample_data/nhanes_2015_2016.csv")

**Frequency tables**

The value_counts method can be used to determine the number of times that each distinct value of a variable occurs in a data set. In statistical terms, this is the "frequency distribution" of the variable. Below we show the frequency distribution of the DMDEDUC2 variable, which is a variable that reflects a person's level of educational attainment. The value_counts method produces a table with two columns.

In [ ]:
data.head()

    SEQN  ALQ101  ALQ110  ALQ130  ...  BMXARML  BMXARMC  BMXWAIST  HIQ210
0  83732     1.0     NaN     1.0  ...     43.6     35.9     101.1     2.0
1  83733     1.0     NaN     6.0  ...     40.0     33.2     107.9     NaN
2  83734     1.0     NaN     NaN  ...     37.0     31.0     116.5     2.0
3  83735     2.0     1.0     1.0  ...     37.7     38.3     110.1     2.0
4  83736     2.0     1.0     1.0  ...     36.0     27.2      80.4     2.0

[5 rows x 28 columns]

In [ ]:
data.DMDEDUC2.value_counts()

4.0    1621
5.0    1366
3.0    1186
1.0     655
2.0     643
9.0       3
Name: DMDEDUC2, dtype: int64

In [ ]:
# Note that the value_counts method excludes missing values. 
# Another way to obtain this result is to locate all the null (missing) values in the data set using the isnull Pandas function
# and count the number of such locations.

# The below code will give us all missing entries (Sum) in the DMDEDUC2 column
pd.isnull(data.DMDEDUC2).sum()

261